aside.logo{
    background-color:var(--bg-dark);
}
aside.logo a {
    width: 100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
aside.logo img {
    padding: 5px;
    height:100%;
}